* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#greenbar {
  width: 100%;
  height: 100px;
  background-color: green;
}
body {
  background-color: lightgrey;
}
.container {
  width: 80%;
  margin: auto;
  height: 600px;
  position: relative;
  top: -50px;
}
.columnleft {
  float: left;
  width: 30%;
  height: 100%;
  background-color: white;
}
.centralblock {
  float: left;
  width: 70%;
  height: 100%;
  background-image: url('https://www.nokioteca.net/home/forum/uploads/gallery/album_195/gallery_490268_195_152710.jpg');
  position: relative;
}
.menu {
  background-color: #eee;
  width: 100%;
  height: 60px;
  border: 0.3px solid lightgrey;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer input {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.fafooter {
  color: grey;
}

#notifications {
  width: 100%;
  height: 80px;
  background-color: #9de1fe;
}
#searcell {
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchboard {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 32px;
  width: 90%;
  position: relative;
  background-color: white;
}
#lens {
  color: lightgrey;
  position: relative;
  margin-left: 4px;
  margin-top: 6px;
}
.searchboard input {
  width: 90%;
  height: 30px;
  position: absolute;
  right: 1px;
  border: none;
  background-color: transparent;
}
.friendstripe {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.friendstripe img {
  border-radius: 50%;
  height: 80%;
  margin-left: 5px;
}
.preview {
  margin-left: 5px;
  font-family: arial;
}

.messages {
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 2px;
}

.greenbckg {
  background-color: lightgreen;
  float: right;
}
.whitebckg {
  background-color: white;
  float: left;
}
